<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Task</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@600&display=swap">
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="container">
  <h2>Create New Task for Subproject: <span th:text="${subProject.name}"></span></h2>

  <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>

  <form action="#" th:action="@{/tasks/create/{subProjectId}(subProjectId=${subProject.subProjectId})}" method="POST">
    <label for="name">Task name:</label>
    <input type="text" id="name" name="name" required placeholder="Enter task name">
    <br><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required placeholder="Enter description">
    <br><br>

    <label for="priority">Priority:</label>
    <input type="text" id="priority" name="priority" required placeholder="Enter priority">
    <br><br>

    <label for="estimated-hours">Estimated Hours:</label>
    <input type="number" id="estimated-hours" name="estimatedHours" required>
    <br><br>

    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" required>
    <br><br>

    <button type="submit">Create Task</button>
  </form>
</div>

</body>
</html>
